<!DOCTYPE html>

<html>
   <head>
      <title>😉Archivos Metadata 👈</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project:Archivo Metadata Microservice 👈😉</h2>

        <h3>Usos ✔:</h3>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          by 
          <a href="https://www.freecodecamp.org/bmsebastian2"><strong>By</strong> bmsebastian2@gmail.com 😎</a>
        </p>
      </div>
   </body>
</html>
